<%- include("partials/header", { title: "Home", isLoggedIn: true}) %>

<section class="hero">
  <div class="hero-content">
    <h1>EV Charging Platform</h1>
    <p>Smart charging. Simple payments. Real-time control.</p>

    <div class="hero-buttons">
      <a href="/user" class="btn btn-light">User Profile</a>
      <a href="/charge" class="btn btn-primary">Charge Vehicle</a>
      <a href="/balance" class="btn btn-outline">Balance</a>
    </div>
  </div>
</section>

<%- include("partials/footer") %>
